obj
obj.meta
Temp
Temp.meta
Exports/
Exports.meta
Builds/
Builds.meta
*.tmproj
*.tmproj.meta
*.csproj
*.csproj.meta
*.unityproj
*.unityproj.meta
*.booproj
*.booproj.meta
*.sln
*.sln.meta
*.suo
*.suo.meta
*.user
*.user.meta
*.pidb
*.pidb.meta
*.userprefs
*.userprefs.meta
*.pyc
!P31PostProcessor.pyc
*.pyc.meta
*.mdb
*.mdb.meta

/Assets/Scripts/bin
/Assets/Scripts/bin.meta
/Assets/Scripts/obj
/Assets/Scripts/obj.meta

Library
!/Assets/Library

*.sublime-project
*.sublime-workspace
TODO.md
user.keystore
scratch.txt
.vscode
